* {
	padding: 0;
	margin: 0;
}

ul {
	list-style-type: none;
}

.main-nav {
	display: flex;
	font-size: 15px;
}
a {
	text-decoration: none;
	color: #3f3f3f;
}

.app-img {
	height: 3em;
	margin-top: 17.2px;
}

#sign-in-button {
	color: white;
	background-color: rgb(74, 132, 245);
	padding: 8px 14px;
	margin-top: -8px;
	text-align: center;
	border: none;
	border-radius: 5%;
	font-size: 16px;
}

nav ul li {
	margin: 20px 0 20px 20px;
}

#apps {
	height: 50%;
}

#store {
	margin-right: 102em;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 150px;
}

#logo {
	margin-bottom: 40px;
}

.wrapper {
	position: relative;
	display: flex;
}

.search-icon {
	position: absolute;
	top: 11px;
	left: 6px;
	width: 28px;
	background-color: transparent;
}

.search {
	border: 1px solid grey;
	border-radius: 26px;
	height: 20px;
	width: 550px;
	padding: 8px 36px;
}

.btn {
	margin: 24px 8px;
	padding: 12px 18px;
	border: none;
	background-color: rgb(243, 243, 244);
	border-radius: 5px;
}

.footer-nav {
	display: flex;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	font-size: 16px;
	background-color: rgb(230, 230, 230);
	align-items: center;
}

.footer-nav li {
	margin: 9px 10px 9px 9px;
}

#search-margin {
	margin-right: 88em;
}
